@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin-right: 30px;
  margin-top: 10px;
}

.OutputSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 450px; */
}

.cardd {
  width: 450px;
}

.process-stack {
  display: flex;
}

@media screen and (max-width: 800px) {
  .OutputSection {
    flex-direction: column;
  }
}
