@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow: hidden !important;
}

.OutputSectionMain {
  font-family: "PT Mono", monospace;
}

.images {
  max-width: "450px";
}
