@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.OutputSectionMain {
  font-family: "PT Mono", monospace;
}

.images {
  max-width: "450px";
}
